.danger-hover {
  background-color: #8b0000;
  border-color: #8b0000;
}
.danger {
  background-color: #ff0000;
  border-color: #ff0000;
}
.default-hover {
  background-color: #3d3d3d;
  border-color: #3d3d3d;
}
.default {
  background-color: #34495e;
  border-color: #34495e;
}
.smile-hover {
  background-color: #d68b00;
  border-color: #d68b00;
}
.smile {
  background-color: #ffa500;
  border-color: #ffa500;
}
.warning-hover {
  background-color: #d4c968;
  border-color: #d4c968;
}
.warning {
  background-color: #f0e68c;
  border-color: #f0e68c;
}
.success-hover {
  background-color: #06cc80;
  border-color: #06cc80;
}
.success {
  background-color: #00fa9a;
  border-color: #00fa9a;
}
.info-hover {
  background-color: #4169e1;
  border-color: #4169e1;
}
.info {
  background-color: #6495ed;
  border-color: #6495ed;
}
