


/*基础*/
.lc.input{
    font-size: 1rem;
    display: inline-block;
    cursor: text;
    padding: 0.6rem 1rem;
    
    border: 1px solid #111111;
    border-radius: 2px;
    margin: 10px;
    color:#111111;
}



