
.quotes-color(@c)
{
    border-left-color: @c;
}

.quotes{
    padding: 15px;
    min-height: 38px;
    background-color:#eee;
    line-height: 38px; 
    margin: 10px; 
    border-left: 4px solid @m-grey;
    overflow: auto;
    vertical-align: middle;
    &-danger{
        .quotes-color(@m-red);
    }
    &-info{
        .quotes-color(@m-blue);
    }
    &-success{
        .quotes-color(@m-green);
    }
    &-warning{
        .quotes-color(@m-yellow);
    }
    &-smile{
        .quotes-color(@m-orange);
    }
    &-default{
        .quotes-color(@m-grey);
    }  
}
.quotes.note,.quotes-lg.note,.quotes-sm.note{
        &:hover{

        border-color: @red;
        .transition(border-color,0.3s);
        }
}
.quotes.quotes-sm,.quotes-sm{
    .quotes;
    min-height: 25px;
    line-height: 25px;
    margin: 10px;
    padding: 10px;
}
.quotes.quotes-lg,.quotes-lg{
    .quotes;
    border-left-width:10px; 
    min-height: 50px;
    line-height: 50px;
    margin: 10px;
    padding: 15px;
    font-size: 25px;
    font-weight: 500;

}