.size(@w,@h){
    width: @w;height: @h;
    
}
.w(@w)
{
    width: @w;
}
.h(@h)
{
    height: @h;
}
.border{

}
.selection(@bgc,@c:@grey){
    ::-moz-selection{background:@bgc;color: @c;} 

    ::selection {background:@bgc; color:@c;} 
}
//兼容性flex
.flex{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;    
}
//兼容性
.transform(@x,@y){
-webkit-transform: translate(@x, @y);
       -o-transform: translate(@x, @y);
          transform: translate(@x, @y);    
}
//兼容性
.transition(@proto,@time,@method:ease-out){
 -webkit-transition:  @time @proto @method;
  transition:  @time @proto @method;
  -o-transition:  @time @proto @method;
  transition: @time @proto @method;    
}
.transition-color{
-webkit-transition:0.3s background-color ease-out;
  transition: 0.3s background-color ease-out;
  -o-transition: 0.3s background-color ease-out;
  transition:0.3s background-color ease-out;
}
.translate-3d(@x,@y,@z){
 -webkit-transform: translate3d(@x,@y,@z);
            transform: translate3d(@x,@y,@z);    
}
.flex-h-center{
-webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;  
}
.flex-v-center{
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
      //函数
    justify-content: center;    
}