/*
    ***************************************************
    *           LEOC UI
    *           By -- Leochens
    *           v 2.0 
    ***************************************************

 */
/*
    基础加载
 */
/*
    执行leoc UI的初始化工作
 */
/* 清除默认样式 */
/*清除内外边距*/
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
textarea,
input,
button,
small,
div,
span,
ul,
ol,
li,
table,
legend,
td,
tt,
th,
tr,
fieldset,
blockquote,
button,
input,
select,
option,
a {
  margin: 0;
  padding: 0;
}
/*清除a下划线*/
a {
  text-decoration: none;
}
/*扶正斜体*/
i,
em {
  font-style: normal;
}
/*清除列表样式*/
ul,
ol,
li {
  list-style: none;
}
/*链接里的img无边框*/
img {
  border: none;
}
/*表格和div自动换行*/
table,
div {
  word-break: break-all;
  word-wrap: break-word;
}
button,
input {
  border: none;
  border: #ddd;
  outline: none;
}
/*禁止拖动*/
textarea {
  resize: none;
}
.p {
  background-color: #333;
}
*:before,
*:after {
  clear: both;
}
html,
body {
  font-weight: 300;
  font-size: 62.5%;
}
h1,
.h1 {
  font-family: 'microsoft yahei';
  font-weight: 600;
  font-size: 28px;
}
h2,
.h2 {
  font-family: 'microsoft yahei';
  font-weight: 400;
  font-size: 24px;
}
h3,
.h3 {
  font-family: 'microsoft yahei';
  font-weight: 300;
  font-size: 20px;
}
h4,
.h4 {
  font-family: 'microsoft yahei';
  font-weight: 300;
  font-size: 16px;
}
h5,
.h5 {
  font-family: 'microsoft yahei';
  font-weight: 600;
  font-size: 14px;
}
h6,
.h6 {
  font-family: 'microsoft yahei';
  font-weight: 600;
  font-size: 12px;
}
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.transition-color {
  -webkit-transition: 0.3s background-color ease-out;
  transition: 0.3s background-color ease-out;
}
.flex-h-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.flex-v-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
/*
    基本组件
 */
/*
    UI button
 */
/*
@type:'modules';
@element:'button';
@import (multiple) '../theme.config';
*/
/* 基础 */
.lc.button {
  height: 4rem;
  display: inline-block;
  padding: 1rem 3.5rem;
  background-color: #111111;
  color: #fff;
  font-size: 1.3 rem;
  font-family: ;
  vertical-align: middle;
  border-radius: 2px;
  cursor: pointer;
  text-decoration: none;
  -webkit-box-shadow: ;
          box-shadow: ;
  margin: 10px;
}
.lc.button.lg {
  height: 4.8rem;
  font-size: 1.56rem;
  padding: 1.2rem 4.2rem;
}
.lc.button.sm {
  height: 3.2rem;
  font-size: 1.04rem;
  padding: 1.04rem 2.8rem;
}
.lc.button:active {
  opacity: 0.8;
}
.lc.button[disabled] {
  opacity: 0.4;
  cursor: not-allowed;
}
/*种类*/
/* outline */
.lc.button.outline {
  height: inherit;
  background: none;
  border: 1.5px solid #111111;
  color: #111111;
}
.lc.button.outline:hover {
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  outline: none;
  border: 1.5px solid #111111;
}
.lc.button.outline:active {
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  outline: 3px solid #f00;
  border-color: transparent;
}
/*基础*/
.lc.input {
  height: 3rem;
  font-size: 1.3rem;
  display: inline-block;
  cursor: text;
  padding: 0.6rem 1rem 0.6rem 1rem;
  border: 1px solid #111111;
  border-radius: 0.2rem;
  margin: 1rem 1rem 1rem 1rem;
  color: #111111;
}
.lc.input.lg {
  height: 3.6rem;
  font-size: 1.56rem;
  padding: 0.72rem 1.2rem 0.72rem 1.2rem;
}
.lc.input.sm {
  height: 2.4rem;
  font-size: 1.04rem;
  padding: 0.48rem 0.8rem 0.48rem 0.8rem;
}
/**
 *  UI list
 * 
 */
ul,
.lc.list {
  font-size: 2rem;
  margin: 0;
  padding: 1.2rem;
  color: #111111;
  background-color: none;
}
ul > li,
.lc.list > li {
  text-decoration: none;
}
/**
 * UI table
 */
.lc.table {
  font-size: 2rem;
  color: #111111;
  text-align: center;
  font-weight: 300;
  background-color: none;
  border: 0.1rem solid #333333;
  border-collapse: collapse;
  border-radius: 0.3rem;
  margin: 1.5rem;
  height: ;
  width: ;
}
.lc.table th {
  border: 0.1rem solid #333333;
  padding: 1.5rem;
}
.lc.table tr {
  border: 0.1rem solid #333333;
  padding: 1.5rem;
}
.lc.table td {
  border: 0.1rem solid #333333;
  padding: 1.5rem;
  width: 10rem;
  height: ;
}
.lc.table td:hover {
  background-color: #eeeeee;
}
.lc.table.all-screen {
  font-size: 2rem;
  color: #111111;
  text-align: center;
  font-weight: 300;
  background-color: none;
  border: 0.1rem solid #333333;
  border-collapse: collapse;
  border-radius: 0.3rem;
  margin: 1.5rem;
  height: ;
  width: ;
}
.lc.table.all-screen th {
  border: 0.1rem solid #333333;
  padding: 1.5rem;
}
.lc.table.all-screen tr {
  border: 0.1rem solid #333333;
  padding: 1.5rem;
}
.lc.table.all-screen td {
  border: 0.1rem solid #333333;
  padding: 1.5rem;
  width: 10rem;
  height: ;
}
.lc.table.all-screen td:hover {
  background-color: #eeeeee;
}
.container {
  padding: 15px 20px;
  margin: 10px;
  border: 1px solid #eee;
  min-height: 200px;
  border-radius: 6px;
}
.row {
  width: 100%;
}
.row div,
.row table,
.row p {
  display: inline-block;
  vertical-align: top;
}
.row img,
.row span {
  vertical-align: middle;
}
.container.article {
  padding: 48px;
  border: 1px solid #eee;
  border-radius: 3px;
}
.container.article p {
  line-height: 1.5;
  text-align: left;
  text-indent: 1.4rem;
}
.container.article h1 {
  font-size: 35px;
  margin: 3px 0;
  margin: 10px 0;
}
.container.article .cap {
  text-transform: uppercase;
}
.container.article .low {
  text-transform: lowercase;
}
.container.shadow {
  -webkit-box-shadow: 0 2px 4px 0 rgba(34, 36, 38, 0.12), 0 2px 10px 0 rgba(34, 36, 38, 0.15);
          box-shadow: 0 2px 4px 0 rgba(34, 36, 38, 0.12), 0 2px 10px 0 rgba(34, 36, 38, 0.15);
}
/* 
    集合组件
 */
