/* 清除默认样式 */
/*清除内外边距*/
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
textarea,
input,
button,
small,
div,
span,
ul,
ol,
li,
table,
legend,
td,
tt,
th,
tr,
fieldset,
blockquote,
button,
input,
select,
option,
a {
  margin: 0;
  padding: 0;
}
/*清除a下划线*/
a {
  text-decoration: none;
}
/*扶正斜体*/
i,
em {
  font-style: normal;
}
/*清除列表样式*/
ul,
ol,
li {
  list-style: none;
}
/*链接里的img无边框*/
img {
  border: none;
}
/*表格和div自动换行*/
table,
div {
  word-break: break-all;
  word-wrap: break-word;
}
button,
input {
  border: none;
  border: #ddd;
}
/*禁止拖动*/
textarea {
  resize: none;
}
*:before,
*:after {
  clear: both;
}
.flex-h-center {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.flex-v-center {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
/********************* 基础样式设置 ******************/
/*基础尺寸设置*/
html,
body {
  width: 100%;
  height: 100%;
}
/********************* 自有样式 ******************/
/*工具类*/
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.float-none {
  float: none;
}
.margin-auto {
  margin: 0 auto;
}
/*定值块*/
/*绝对定值*/
.H-100 {
  width: 100%;
  height: 100px;
}
.H-200 {
  width: 100%;
  height: 200px;
}
.H-300 {
  width: 100%;
  height: 300px;
}
.H-400 {
  width: 100%;
  height: 400px;
}
.H-500 {
  width: 100%;
  height: 500px;
}
.H-600 {
  width: 100%;
  height: 600px;
}
.H-all {
  width: 100%;
  height: 100%;
}
.W-100 {
  width: 100px;
  height: 100%;
}
.W-200 {
  width: 200;
  height: 100%;
}
.W-300 {
  width: 300;
  height: 100%;
}
.W-400 {
  width: 400;
  height: 100%;
}
.W-500 {
  width: 500;
  height: 100%;
}
.W-600 {
  width: 600;
  height: 100%;
}
.W-all {
  width: 100%;
  height: 100%;
}
/*可叠加定值*/
.w-100 {
  width: 100px;
}
.w-200 {
  width: 200px;
}
.w-300 {
  width: 300px;
}
.w-400 {
  width: 400px;
}
.w-500 {
  width: 500px;
}
.w-600 {
  width: 600px;
}
.w-all {
  width: 100%;
}
.h-100 {
  height: 100px;
}
.h-200 {
  height: 200px;
}
.h-300 {
  height: 300px;
}
.h-400 {
  height: 400px;
}
.h-500 {
  height: 500px;
}
.h-600 {
  height: 600px;
}
.h-all {
  height: 100%;
}
/*面板*/
/*按钮*/
/*输入框*/
/*弹出框*/
/*消息丸*/
/*列表*/
/*遮罩层*/
/*表单*/
/*下拉列表*/
/*导航*/
/*侧边栏*/
/*小卡片*/
/*轮播图*/
/*搜索框*/
/*引语*/
/*大字板*/
/*********************   颜色类     ******************/
.danger {
  background-color: #FF6347;
}
/********************* 栅格系统 ******************/
/********************* 屏幕适配 ******************/
/********************* 兼容性问题解决 ******************/
