@charset:'utf8';
/* 清除默认样式 */

/*清除内外边距*/
html,body,h1,h2,h3,h4,h5,h6,textarea,input,button,
small,div,span,ul,ol,li,table,legend,td,tt,th,tr,
fieldset,blockquote,button,input,select,option,a{
    margin: 0;
    padding: 0;
}
/*清除a下划线*/
a{
    text-decoration: none;

}
/*扶正斜体*/
i,em{
    font-style: normal;
}

/*清除列表样式*/
ul,ol,li{
    list-style: none;
}

/*链接里的img无边框*/
img{
    border: none;
}

/*表格和div自动换行*/
table,div{
    word-break: break-all;
    word-wrap: break-word;
}

button,input{
    border: none;
    border: #ddd;
}


/*禁止拖动*/
textarea{
    resize: none;
}

*:before,
*:after{
    clear: both;
}

//函数
.size(@w,@h){
    width: @w;height: @h;
}
.w(@w)
{
    width: @w;
}
.h(@h)
{
    height: @h;
}
.border{

}
//兼容性flex
.flex(){
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;    
}
//兼容性
.transform(@x,@y){
-webkit-transform: translate(@x, @y);
       -o-transform: translate(@x, @y);
          transform: translate(@x, @y);    
}
//兼容性
.transition(@time,@method){
 -webkit-transition: -webkit-transform @time @method;
  transition: -webkit-transform @time @method;
  -o-transition: -o-transform @time @method;
  transition: transform @time @method;    
}
.transition-color{
-webkit-transition:0.3s background-color ease-out;
  transition: 0.3s background-color ease-out;
  -o-transition: 0.3s background-color ease-out;
  transition:0.3s background-color ease-out;
}
.translate-3d(@x,@y,@z){
 -webkit-transform: translate3d(@x,@y,@z);
            transform: translate3d(@x,@y,@z);    
}
.flex-h-center{
-webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;  
}
.flex-v-center{
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;    
}
/********************* 基础样式设置 ******************/
    
/*基础尺寸设置*/
//尺寸函数


html,body{
    .size(100%,100%);
    color:#34495E;
    font-weight: 300;
}

h1,.h1{
    font-family: 'microsoft yahei';
    font-weight: 600;
    font-size: 28px;
}
h2,.h2{
    font-family: 'microsoft yahei';
    font-weight: 400;
    font-size: 24px;    
}
h3,.h3{
font-family: 'microsoft yahei';
    font-weight: 300;
    font-size: 20px;
}
h4,.h4{
    font-family: 'microsoft yahei';
    font-weight: 300;
    font-size: 16px;
}
h5,.h5{
    font-family: 'microsoft yahei';
    font-weight: 600;
    font-size: 14px;    
}
h6,.h6{
font-family: 'microsoft yahei';
    font-weight: 600;
    font-size: 12px;       
}

button{

}
input{

}

i{

}



/********************* 自有样式 ******************/
/*工具类*/
.float-left{
    float: left;
}
.float-right{
    float: right;
}
.float-none{
    float: none;
}
.margin-auto{
    margin: 0 auto;
}
/*定值块*/

/*绝对定值*/
@import url(block.less);
/*容器*/

.container{
    padding: 15px 20px;
    margin: 10px;
    border: 1px solid #eee;
    min-height:200px;
    border-radius: 6px;
}
/*面板*/
/*按钮*/
@import url(button.less);


/*表单*/
//@import url(form.less);
.input{
    padding: 6px 8px;
    background-color:transparent;
    border: 2px solid @d-grey;
    border-radius: 6px;
    height: 28px; 
    width: inherit;
    outline: none;
    color:@grey;
    &:focus{
        border-color: @grey;
        transition: 0.3s border-color;
    }
}
.input-lg.input{
    height: 35px!important;
}
.input-sm.input{
    height: 18px!important;
}
.input.input-success{
    .input;
    color:@green;
    border-color:@d-green;
    &:focus{
        border-color: @green;
        transition: 0.3s border-color;
    }    
}
.input.input-info{
    .input;
    color:@blue;
    border-color:@d-blue;
    &:focus{
        border-color: @blue;
        transition: 0.3s border-color;
    }    
}.input.input-danger{
    .input;
    color:@red;
    border-color:@d-red;
    &:focus{
        border-color: @red;
        transition: 0.3s border-color;
    }    
}.input.input-smile{
    .input;
    color:@orange;
    border-color:@d-orange;
    &:focus{
        border-color: @orange;
        transition: 0.3s border-color;
    }    
}

//输入框组
.input-group-inline{
    input{
        .input;
        display: inline-block;
        //width: 10%;
        margin: 0 5px;
    }
}
//按钮尺寸的bug
.input-group-block{
    //width: 80%;
    input,.input,
    input[type="text"],
    input[type=null],
    input[type="button"],
    input[type="submit"],
    input[type="password"]{
        //.input;
        display: block;
        margin: 5px 0;
    }
    input[type="button"],
    input[type="submit"]{

        .btn-default;
        //color: @white;
        //font-size: 18px;
        vertical-align: middle;
        outline: none;
        line-height: 18px;
        // &:hover{
        //     .default-hover;
        // }
    }
}
/*弹出框*/
/*消息丸*/

/*列表*/

/*遮罩层*/

/*下拉列表*/
/*导航*/
/*侧边栏*/

/*小卡片*/

/*轮播图*/

/*搜索框*/

/*引语*/
//bug : 绿条不能自动增大
//解决 ： 换用border-left
.quotes{
    padding: 15px;
    min-height: 38px;
    background-color:#eee;
    line-height: 38px; 
    margin: 10px; 
    border-left: 4px solid @d-green;
    overflow: auto;
}
/*大字板*/

/*分隔条*/
hr{
    .default;
}

/*********************   颜色类     ******************/
@import url(colors.less);
/********************* 栅格系统 ******************/

@import url(columns.less);
/********************* 屏幕适配 ******************/



/********************* 兼容性问题解决 ******************/

/*测试**/
@import url(hack.less);
